* {
  box-sizing: border-box;
}
html {
  font-family: Georgia, serif;
  font-size: 18px;
}
section{
    margin-top: 7vh;
}
@media screen and (max-width: 480px) {
    section{
    margin-top: 15vh;
}
}
body {
  margin-bottom: 0rem;
    background-color: lightgray
}
.header{
    top:0;
    display: flex;
    justify-content: space-between;
    background: #1c2c2c;
    align-items: center;
    position: fixed;
    z-index: 999;
    width: 100vw
}
h1 {
    display: inline-block;
  font-size: 1.1rem;
  color: #fff;
  margin: 0vh;
  padding: 0.25em 1.55em;
  background: #1c2c2c;
  line-height: 1.1em;
}
h2{
    display: inline-block;
     background: #1c2c2c;
    font-size: 0.8rem;
    color:gray;
    padding: 0em 1.55em;
    flex:-1
}
ul {
    
  columns: 300px;
/*  break-inside: avoid;*/
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
    -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
 
}
li {
  list-style-type:none;
    -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
    overflow-x: hidden;
    margin: 0px 0px ;
    transform: scale(1.00,1.00);
    -webkit-transition: transform 2s;
    transition: transform 2s;
   
    
    
  
}
li:hover{
      -webkit-animation-name: grow; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 300ms; /* Safari 4.0 - 8.0 */
    animation-name: grow;
    animation-duration: 300ms;
     -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
   
    animation-fill-mode: forwards;
    
    
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
  margin-top: 0px;
  margin-bottom: 20px;
  border: 1px solid black;
  
  
  

}


.main{
    margin-top: 2vw;
    padding: 0px;
  
}

@-webkit-keyframes grow {
       to {transform: scale(1.01,1.01);}

}

@keyframes grow {
 
    to {transform: scale(1.01,1.01);}
}
.footer{
    display: flex;
    position: relative;
    height: 40px;
    padding: 0;
    margin: 0;
    background-color: darkgrey;
    text-align: center;
    justify-content: center;
    align-items: center;
   
}

 .footer span{
    color: aliceblue;
     
    
}
